/* Input Background */
._3fJq6rBJ7S5sNtyQfIfgoF {
    backdrop-filter: blur(var(--lt-cls-blur));
    background: var(--lt-cls-ibg-parse);
}
/* Input position */
.aLaNwAEcdBFnXVdc4Nzix ._3fJq6rBJ7S5sNtyQfIfgoF {
    position: fixed;
    bottom: calc(var(--gamepadui-current-footer-height) + 2vh);
    margin-right: auto;
    margin-left: auto;
}
/* Input Padding */
.lockscreen_Indicators_3fJq6 {
    padding: 13px 14px;
}
/* Input Roundness */
.lockscreen_Indicators_3fJq6 {
    border-radius: var(--lt-cls-ro);
}
.lockscreen_Container_3rFFU {
    background: var(--lt-cls-bg) !important;
    background-size: cover !important;
}
/* Input Dots */
._duAGi5fn_DigitIndicator{
    border-color: var(--lt-cls-ui) !important;
    background: transparent !important;
}
._duAGi5fn_DigitIndicator._duAGi5fn_Filled {
    border-color: var(--lt-cls-fi) !important;
    background: var(--lt-cls-fi) !important;
}

/* Profile picture */
.lockscreen_Details_aLaNw > div img {
    display: none;
}
/* Input numbers */
.lockscreen_NumericButtonOption_2c4Hz > img {
    display: none;
}
._2wl_hk5SjW9COBW6DRQrTf {
    gap: 0px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
._2c4Hz8Y8kYqeq1W1Jeq52q {
    gap: 0px;
    padding: 0px;
    font-size: 0px;
    font-weight: 1;
    border-radius: 0px;
}
/* Panel Background */
.aLaNwAEcdBFnXVdc4Nzix ._1Ewy74JD3THErSWk9wSliJ {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--lt-cls-ibg-parse);
    backdrop-filter: blur(var(--lt-cls-blur));
    width: 100%;
    height: var(--basicui-header-height);
    min-height: var(--basicui-header-height);
    max-height: var(--basicui-header-height);
    vertical-align: top;
    align-items: start;
}
.aLaNwAEcdBFnXVdc4Nzix .vNjDQRABe6lwA6tOpBefX {
    display: none;
}
/* Panel text */
.aLaNwAEcdBFnXVdc4Nzix ._3aUT84qO5C3sjfj8G8hIKA {
    margin-left: 10px;
    font-size: 16px;
    line-height: 2.3em;
    font-weight: 500;
    vertical-align: middle;
}
.aLaNwAEcdBFnXVdc4Nzix ._3aUT84qO5C3sjfj8G8hIKA:after {
    content: 'Using your controller, enter your 6-digit PIN.';
    margin-left: 12px;
    font-size: 12px;
    line-height: 2.3em;
    font-weight: 500;
    vertical-align: middle;
    color: var(--lt-cls-ct)
}
/* Incorrect pin */
.OmybPci28zjdK4Lh6uPDx {
    display: none;
}


