.BasicUI .WYgDg9NyCcMIVuMyZ_NBC.Focusable:focus {
    filter: none !important;
}
.WYgDg9NyCcMIVuMyZ_NBC {
    filter: none !important;
}
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC::after {
    background: transparent;
}
